CoPlatform/build/
CoPlatform/logs/
CoPlatform/.classpath
.metadata/
RemoteSystemsTempFiles/
Servers/
CoPlatform/.settings/org.eclipse.core.resources.prefs
CoPlatform/WebContent/WEB-INF/jdbc.properties
.gitignore
